<div class="recipe recipe-list-iten">
        <div class="recipe-cover">
          <img src={{recipes.cover.url}}
               alt="temporario">
        </div>
        <div class="recipe-title-conteiner">
          <h2 class="recipe-title">{{recipes.title}}</h2>
        </div>

       
        <!-- DIV para informções c de autor, local e hora -->
        <div class="recipe-author">
          <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            {{recipes.author.first_name}} {{recipes.author.last_name}}
          </span>

          <span class="recipe-author">
            <i class="fas fa-calendar-alt"></i>
            {{recipes.created_at | date:"d/m/Y"}} as {{recipes.created_at | date:" H:i"}}
          </span>
          <!-- botao de redicionamento autor-->
          <span class="recipe-author-item">
            <!--Caminho da API? Mudar mais para frente-->
            <a href="recipes/category/{{recipes.category}}/">
              <i class="fas fa-layer-group"></i>
              <span>{{recipes.category.name}}</span>
            </a>
          </span>
        </div> 
        <!-- FIM informceos autor-->

        <div class="recipe-content">
          <p>{{recipes.description}}</p>
        </div>

        <!-- Inicio bottom card-->

         
        <div class="recipe-meta-container">
          <!--Relogio de preparo-->
          <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-alarm-clock"></i>Preparo</h3>
            <div class="recipe-meta-text">
              {{recipes.preparation_time}}  {{recipes.preparation_time_unit}}
            </div>
          </div>
        
          <!--Quantide de procoes-->
          <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-pizza-slice"></i>{{recipes.servings_unit}} </h3>
            <div class="recipe-meta-text">
              {{recipes.servings}} {{recipes.servings_unit}} de Briar
            </div>
          </div>
        </div>
        <!--Fim bottom card-->

        <footer class="recipe-footer">
          <a href="/recipe/3/" class="recipe-read-more button button-dark button-full-width">
            <i class="fa-solid fa-eye"></i>
            <span>ver mais...</span>
          </a>
        </footer>


      </div>